@model System.Collections.Generic.IEnumerable<BLL.Models.Tasks.View.TaskViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>